<div class="container">
  <div class="main-header">
    <h2>
      Last Updated:
      <span style="color: white">{{ lastUpdate | date: "short" }}</span>
    </h2>
  </div>
  <div class="main-main">
    <form class="example-container" [formGroup]="mainForm">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>SEND </mat-label>
        <mat-select
          formControlName="sendCurrencyControl"
          [(value)]="sendCurrency"
          (valueChange)="sendCurrencyChange()"
        >
          <mat-option [disabled]="receiveCurrency === 'dza'" value="dza"
            >DZA</mat-option
          >
          <mat-option [disabled]="receiveCurrency === 'ruble'" value="ruble"
            >Ruble</mat-option
          >
          <mat-option [disabled]="receiveCurrency === 'euro'" value="euro"
            >Euro</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Amount</mat-label>
        <input
          matInput
          type="number"
          class="example-right-align"
          placeholder="0"
          formControlName="sendAmountControl"
          [(ngModel)]="sendAmount"
          (change)="sendChange()"
        />
        <span matPrefix>$&nbsp;</span>
        <!-- <span matSuffix>.00</span> -->
      </mat-form-field>

      <hr />

      <button
        mat-icon-button
        (mousedown)="switchCurrency()"
        [disabled]="receiveCurrency === sendCurrency"
        [ngClass]="{ disbled: receiveCurrency === sendCurrency }"
      >
        <mat-icon>cached</mat-icon>
      </button>
      <hr />
      <br />
      <mat-form-field appearance="outline" [color]="'warn'" floatLabel="always">
        <mat-label>RECEIVE </mat-label>
        <mat-select
          formControlName="receiveCurrencyControl"
          [(value)]="receiveCurrency"
          (valueChange)="receiveCurrencyChange()"
        >
          <mat-option [disabled]="sendCurrency === 'dza'" value="dza"
            >DZA</mat-option
          >
          <mat-option [disabled]="sendCurrency === 'ruble'" value="ruble"
            >Ruble</mat-option
          >
          <mat-option [disabled]="sendCurrency === 'euro'" value="euro"
            >Euro</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Amount</mat-label>
        <input
          matInput
          type="number"
          class="example-right-align"
          placeholder="0"
          [(ngModel)]="receiveAmount"
          formControlName="receiveAmountControl"
          (change)="receiveChange()"
        />

        <span matPrefix>$&nbsp;</span>
        <!-- <span matSuffix>.00</span> -->
      </mat-form-field>
    </form>
  </div>
</div>
