<div class="content">
  <div fxLayout="row wrap">
    <div class="main-header" fxFlex="100%">
      <h2>
        Last Updated:
        <span>{{ lastUpdate | date: "dd/MM/yyyy" }}</span>
      </h2>
    </div>

    <div class="main-main" fxFlex="100%">
      <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center">
        <mat-form-field
          fxFlex="45%"
          fxFlex.xs="90%"
          appearance="outline"
          floatLabel="always"
        >
          <mat-label class="label-send">I SEND </mat-label>
          <mat-select
            [(ngModel)]="sendCurrency"
            name="sendCurrency"
            (selectionChange)="sendCurrencyChange()"
            #selectSend
          >
            <mat-option
              *ngFor="let currency of ['dza', 'ruble', 'euro']"
              [value]="currency"
              >{{ currency | uppercase }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field
          fxFlex="45%"
          fxFlex.xs="90%"
          appearance="fill"
          floatLabel="always"
        >
          <mat-label>Amount</mat-label>
          <input
            matInput
            #inputSend
            type="number"
            class="example-right-align"
            placeholder="0"
            [(ngModel)]="sendAmount"
            name="sendAmout"
            min="0"
          />

          <span class="span-currency" matPrefix
            ><fa-icon [icon]="setCurrencySybmol(sendCurrency)"></fa-icon>
          </span>
          <span matSuffix>{{ sendCurrencySymbole | uppercase }}</span>
          <button
            class="btn-clear"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="sendAmount = 0; receiveAmount = 0"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <div class="switch-button" fxFlex="100%">
          <mat-divider></mat-divider>
          <button
            mat-icon-button
            (mousedown)="switchCurrency()"
            [disabled]="receiveCurrency === sendCurrency"
            [ngClass]="{ disbled: receiveCurrency === sendCurrency }"
          >
            <mat-icon>cached</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center">
        <mat-form-field
          fxFlex="45%"
          fxFlex.xs="90%"
          appearance="outline"
          [color]="'warn'"
          floatLabel="always"
        >
          <mat-label class="label-receive">I RECEIVE </mat-label>
          <mat-select
            [(ngModel)]="receiveCurrency"
            name="receiveCurrency"
            (selectionChange)="receiveCurrencyChange()"
            #selectReceive
          >
            <mat-option
              *ngFor="let currency of ['dza', 'ruble', 'euro']"
              [value]="currency"
              >{{ currency | uppercase }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field
          fxFlex="45%"
          fxFlex.xs="90%"
          appearance="fill"
          floatLabel="always"
        >
          <mat-label>Amount</mat-label>
          <input
            matInput
            type="number"
            class="example-right-align"
            placeholder="0"
            [(ngModel)]="receiveAmount"
            min="0"
            name="receiveAmount"
            #inputReceive
          />

          <span class="span-currency" matPrefix
            ><fa-icon [icon]="setCurrencySybmol(receiveCurrency)"></fa-icon>
          </span>
          <span matSuffix>
            {{ receiveCurrencySymbole | uppercase }}
          </span>
          <button
            class="btn-clear"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="sendAmount = 0; receiveAmount = 0"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
